<br />
<a href="https://www.w3schools.com/css/css3_transitions.asp">Reference</a>
<div class="box t1">
    <p>Width transition</p>
</div>

<div class="box t2">
    <p>Height Transition</p>
</div>

<div class="box t3">
    <p>linear</p>
</div>  specifies a transition effect with the same speed from start to end
<br />
<br />

<div class="box t4">
    <p>Ease</p>
</div> specifies a transition effect with a slow start, then fast, then end slowly (this is default)
<br />
<br />
<div class="box t5">
    <p>Ease In</p>
</div> specifies a transition effect with a slow start
<br />
<br />
<div class="box t6">
    <p>Ease Out</p>
</div> specifies a transition effect with a slow end
<br />
<br />
<div class="box t7">
    <p>Ease-in-out</p>
</div> specifies a transition effect with a slow start and end
<br />
<br />
<div class="box t8">
    <p>1s Delay</p>
</div>
<div class="box t9">
    <p>Transform</p>
</div>
<br />
<br />
<br />
<br />
<div class="box t10">
    <p>Rotate</p>
</div>