/* @keyframes slideInFromBottom {
    0% {
      transform: translateY(200%);
    }
    100% {
      transform: translateY(0);
    }
  } */
.card {
    width: 200px;
    height: 200px;    
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #c2c2c2;
    /* animation: 1s ease-out 0s 1 slideInFromBottom; */
}
