<p>basic works!</p>
Example 1: Basic
<br />
<button (click)="simplestExample()">Simplest</button>
<br />
<br />
Example 2: Observer
<br />
<button (click)="example2ObserverVar()">Observer as Const Var</button>
<button (click)="example2ObserverObject()">Observer as Object</button>
<button (click)="example2ObserveComplete()">Observer with Complete</button>
<br /> 
<br />
Example 3: Observable 
<br />
<button (click)="example3Observable()">Observable</button>
<button (click)="example3Teardown()">Teardown</button>
<br />
<br />
Example 4: Subscription
<br />
<button (click)="example4Subscription()">Subscription</button>
<br />
<br />
<h3>Operators</h3>
<br />
Example 5.1: Pipe
<br />
<button (click)="example5x1Pipe()">Pipe</button>