.box {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: lightblue;
    border-radius: 3px;      
}

.t1 {
    transform: translate(10px, 30px);
}

.t2 {
    transform: rotate(20deg);
}

.t3 {
    margin-left: 50px;
    transform: scale(2, 3);
}