.box {
    width: 100px;
    height: 100px;
    position: relative;
    background-color: lightblue;
    border-radius: 3px;      
}

.t1 {
    transform: translate(10px, 30px);
}

.t2 {
    transform: rotate(20deg);
}

.t3 {    
    transform: scale(0.5, 0.5);
}